<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
<!--    <base th:href="${#request.getContextPath()}+'/'">-->
    <link href="jquery/bootstrap_3.3.0/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="jquery/jquery-1.11.1-min.js"></script>
    <script type="text/javascript" src="jquery/bootstrap_3.3.0/js/bootstrap.min.js"></script>
    <script>
		$(function (){

		    //给整个窗口加一个键盘按下事件
            $(window).keydown(function (event) {
                //如果按下的是enter
                if (event.keyCode == 13) {
                    login();
                }
            })

		    $("#btn_login").click(function (){
                login();
            })

            function login() {
                var loginAct = $.trim($("#loginAct").val());
                var loginPwd = $.trim($("#loginPwd").val());
                var isRemPwd = $("#isRemPwd").prop("checked");
                //表单验证
                if (loginAct == "" || loginPwd == "") {
                    alert("请输入用户名或密码！");
                    return;
                }
                //发送Ajax请求
                $.ajax({
                    url:'settings/qx/user/login.do',
                    data:{
                        loginAct:loginAct,
                        loginPwd:loginPwd,
                        isRemPwd:isRemPwd
                    },
                    type:'post',
                    dataType:'json',
                    success:function (data) {
                        if (data.code == "1") {
                            window.location.href=("workbench/index.do");
                        } else {
                            $("#msg").html(data.message);
                        }
                    },
                    error:function (){
                        alert("发生错误！");
                    },
                    beforeSend:function () {
                        //这个函数有一个返回值，如果返回true，Ajax才会真正发送请求
                        //如果返回false，则会放弃发送请求，例如：在这个函数里可以设置表单验证
                        $("#msg").html("正在努力验证中...");
                    }
                })
            }
        })
    </script>
</head>
<body>
<div style="position: absolute; top: 0px; left: 0px; width: 100%;">
<!--    <img src="image/IMG_4119.JPG" >-->
<!--    <img src="image/IMG_4119.JPG" style="width: 100%; height: 90%; position: relative;">-->
    <img src="image/IMG_4119.JPG" style="width: 100%; height: 90%;top: 50px; position: relative;">
</div>
<div id="top" style="height: 50px; background-color: #3C3C3C; width: 100%;">
    <div style="position: absolute; top: 5px; left: 0px; font-size: 30px; font-weight: 400; color: white; font-family: 'times new roman'">
        CRM &nbsp;<span style="font-size: 12px;">&copy;2019&nbsp;动力节点</span></div>
</div>

<div style="position: absolute; top: 120px; right: 100px;width:450px;height:400px;border:1px solid #D5D5D5">
    <div style="position: absolute; top: 0px; right: 60px;">
        <div class="page-header">
            <h1>登录</h1>
        </div>
        <form action="workbench/index.html" class="form-horizontal" role="form">
            <div class="form-group form-group-lg">
                <div style="width: 350px;">
                    <input class="form-control" id="loginAct" type="text" th:value="${loginAct}" placeholder="用户名">
                </div>
                <div style="width: 350px; position: relative;top: 20px;">
                    <input class="form-control" id="loginPwd" type="password" th:value="${loginPwd}" placeholder="密码">
                </div>
                <div class="checkbox" style="position: relative;top: 30px; left: 10px;">
                    <label>
                        <div th:if="${loginAct != null}"><input id="isRemPwd" type="checkbox" checked> 十天内免登录</div>
                        <div th:if="${loginAct == null}"><input id="isRemPwd" type="checkbox"> 十天内免登录</div>
                    </label>
                    &nbsp;&nbsp;
                    <span id="msg"></span>
                </div>
                <button type="button" id="btn_login" class="btn btn-primary btn-lg btn-block"
                        style="width: 350px; position: relative;top: 45px;">登录
                </button>
            </div>
        </form>
    </div>
</div>
</body>
</html>